<md-dialog aria-label="Confirm Dialog" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Warning</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="matrerial-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <p class="dialog-message">{{message}}</p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-primary" ng-click="answer('yes')">Yes</md-button>
      <md-button ng-click="answer('no')">No</md-button>
      <md-button class="md-warn" ng-if="cancelVisible" ng-click="cancel()">Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
